@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #000000;
}

@theme{
    --color-*: initial;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-skyblue: #32BDEF;
    --color-yellow: #FFE269;
    --color-purple: #9283BD;
    --color-denimblue: #527CBD;

    --breakpoint-*: initial;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1520px;

    --font-barlow: 'Barlow', sans-serif;

    --container-*: initial;
    --container-sm: 640px;
    --container-md: 768px;
    --container-lg: 1024px;
    --container-xl: 1280px;
    --container-2xl: 1520px;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: "Barlow", sans-serif;
}

@layer components{
    .menu-mobile{
        @apply bg-purple/30 backdrop-blur-2xl fixed top-0 left-0 h-screen w-[100%] p-10 duration-500 ease-in-out
    }
}

.videoContainer {
    position: relative;
}

.videoContainer iframe {
    width: 610px;
    height: 360px;
}

@media (max-width: 767px) {
    .videoContainer iframe {
        width: 360px;
        height: 360px;
    }
}